data/RobotCar/lidar_fog_006/
data/RobotCar/lidar_fog_mix/
data/RobotCar/object/lidar/
data/RobotCar/object/lidar_history/
data/RobotCar/object/radar/
data/RobotCar/object/radar_history/
output/
MVDNet_weights/
